h1{
   background-color: cornflowerblue; color: black;
    text-align: center;
    border-style: groove;
    border-style: dotted;

}

ol{
    background-color: darkred;
}

ul{
    color: slateblue;
}

body{
    background-color: yellowgreen;
}


    

    